.fon

.container-click-button-message, .infos-trip-list, .li-trip, .ul-trip, .plus-trip, .final-message,.container-text-section {
    margin: 0 auto;
    width: 60vw;
    text-align: justify;
}

.container-click-button-message {
    text-align: center;
}

.click-button-message {
    margin: 15px;   
    
}

.li-trip div {
    margin-top: 10px;
}

.central-ul-trip{
    margin: 0 auto;
    
}

.li-iten-trip {
    position: relative;
}

.ul-trip {
    text-align: left;
}

.plus-trip, .plus-trip {
    margin-top: 10px;
}

.button-type-trip {
    background: #fc9523;
    border-radius: 100px;
    border: none;
    box-shadow: none;
    font-family: Sen;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0;
}

.button-type-trip a {
    color: #fff;
    text-decoration: none;
}

.button-type-trip:hover {
    background-color: #4E00C8;
    box-shadow: 3px 3px #FC9523;
}

.final-link {
    color:  #ff9500 ;

}

.final-link:hover {
    color: #4E00C8;
}

.final-message {
    text-align: center;
    margin: 30px 0;
}

.text-decoration-color-underline {
    text-decoration: underline;
    text-decoration-color: #FC9523;
}

/* .ul-trip {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    padding: 0 0 3px 3px;
} */

li > strong {
    color: #ff9500;
}

@media (min-width: 407px) {
    .ul-trip {
        box-shadow: none;
    }
}

/* @media (min-width: 526px) {
    .li-trip > p {
        text-align: left;
    }
} */

@media (min-width: 976px){

    .coffee-go-trip{
        text-align: center;
    }

    .container-text-section {
        width: 95vw;
        text-align: justify;
        margin: 0 auto;
    }

    .section1, .section2 {
        width: 38vw;
        margin: 0;
    }

    .section1 {
        float: left;
        
    }

    .section2 {
        float: right;
    }
}


/* @media (min-width: 1080px) {
    .infos-trip {
        text-align: left;
    }
} */