/* TRANSPARENCIA DO FUNDO */
#backgroundImage {
  -webkit-mask-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(0, rgba(0, 0, 0, 0)),
    /* Esse aumenta a parte branca de cima(Meio que vai cortando a imagem) está em 0.2 o maximo é 1.0 */
      color-stop(0.13, rgba(0, 0, 0, 1))
  ); /* Aqui aumenta o tamanho da transparencia de cima o numero maximo é o numero 1.0 está em 0.6 */
}

/* Transparencia do topo menor em dispositivos pequenos */
@media (max-width: 659px) {
  #backgroundImage {
    -webkit-mask-image: -webkit-gradient(
      linear,
      center top,
      center bottom,
      color-stop(0, rgba(0, 0, 0, 0)),
      /* Esse aumenta a parte branca de cima(Meio que vai cortando a imagem) está em 0.2 o maximo é 1.0 */
        color-stop(0.035, rgba(0, 0, 0, 1))
    ); /* Aqui aumenta o tamanho da transparencia de cima o numero maximo é o numero 1.0 está em 0.6 */
  }
}

/* .header-image-countries-las-vegas {
  background: url("https://images7.alphacoders.com/458/458532.jpg") no-repeat center;
}

.header-image-countries-berlim {
  background: url("https://images.pexels.com/photos/1570610/pexels-photo-1570610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center;
}

.header-image-countries {
  border-bottom: 6px solid #fc9523;
  width: 100vw;
  height: 40vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width:834px){
  .header-image-countries{
    height: 45vh;
  }
}

@media (min-width:1200px){
  .header-image-countries{
    height: 50vh;
  }
}


 */
body {
  background-color: transparent;
}

/* Titulo */
h1 {
  text-align: center;
  font-style: normal;
  font-weight: bold;

  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* Grade do Botões */
.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}

/* Definindo margin do botão e em quanto de tamanho ele deve cortar a faixa de botão no caso MAX 200PX */
.flex > .box {
  flex: 0 1 200px;
  margin: 10px 10px;
}

/* Imagem ficar na box com 100% do tamanho */
img {
  max-width: 100%;
  display: block;
}

/* Botão - Propriedaes */
.box {
  padding: 20px;
  background-color: #fc9523;
  border-radius: 10px;
}

.box:hover {
  transform: scale(1.1);
  background-color: #4400c3;
  box-shadow: 3px 3px #fc9523;
}

.box:active {
  transform: scale(1.1);
  background-color: #4400c3;
  box-shadow: 3px 3px #fc9523;
}

/* Texto do Botão */
.box > a {
  color: white !important;
  text-decoration: none !important;
  text-align: center !important;
}

.box > a:hover {
  color: white !important;
}

h4 {
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 10px;
}

/* Botão menor - Quando a tela for menorr que 437px */
@media (max-width: 437px) {
  .flex > .box {
    flex: 0 1 150px;
  }
}

/* Botão dos countries-young e adventurous */
.flex > .button {
  flex: 0 1 100vw;
  text-align: center;
}
