* {
    font-family: 'Sen', sans-serif;
}

/* Texto & Infos */
section {
    margin-bottom: .3rem;
}

#rectangle {
    width: 9px;
    height: 17px;
    background: #FF9A9A;
}

.title-section {
    margin-left: 5px;
}

#text-01 h2,
#text-02 h2 {
    font-weight: bold;
}

#text-01 p,
#text-02 p{
    font-size: 12px;
}

/* Footer */
footer {
    padding: 15px 0;
}

#link-footer {
    padding-bottom: 1rem;
}

#link-footer a {
    margin: 1rem;
    color: grey;
}

#foot-text {
    font-weight: bold;
}