.container-faq, 
.container-questions {
    margin: 30px auto;
}

.container-faq {
    width: 80vw;
    text-align: center;
}

.container-questions {
    width: 70vw;
}

h1 {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #000;
}

.h2-faq {
    margin-top: 20px;
    font-size: 1.4rem;
}

.link, a {
    color: #ff9500;
}
  
.link:hover, a:hover, i + a:hover {
    color: #4400c3;
}

a:active {
    color: #ff9500;
}

.question-faq, 
.answer-faq {
    text-align: center;
}

.question-faq {
    color: #ff9500;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 1.2rem;
}

.answer-faq {
    margin-top: 15px;
    font-style: italic;
    font-size: 1.0rem;
}

.answer-faq-link {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

.answer-faq-link:hover {
    color: #ff9500;
}

.span-underline {
    text-decoration: underline;
    text-decoration-color: #ff9500;
}

.strong-faq {
    color: #000;
}

i + a {
    text-decoration: none;
    color: #000;
    font-size: 1.0rem;
}

footer {
    text-align: center;
    margin: 0 auto;
}

@media (min-width:768px) {
    .container-faq {
        width: 70vw;
    }

    .container-questions {
        width: 60vw;
    }

    .h2-faq {
        font-size: 1.6rem;
    }

    .question-faq {
        font-size: 1.4rem;
        text-align: justify;
    }

    .answer-faq {
        font-size: 1.2rem;
        text-align: justify;
    }

    i + a {
    font-size: 1.2rem;
}
}
